[Unit]
Description=uWSGI mdos
After=syslog.target

[Service]
ExecStart=/home/pi/mdosvenv/bin/uwsgi --ini /home/pi/mdos/pi/mdosweb/mdosweb.ini
User=pi
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
